*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(./images/desktop/image-header.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    color: white;
    font-size: larger;
}
.contact{
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    text-transform: uppercase;
}
.creative{
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 60px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
.arrow{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.box{
    height: 500px;
}
.boxes{
    display: grid;
    grid-template-columns: 50% 50%;
}
.box1{
    background: white;
}
.box2{
    background-image: url(./images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.box3{
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box4{
    background: white;
}
.box5{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}.box6{
    background-image: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text1{
    align-items: center;
    padding: 100px;
    margin-top: 85px;
    justify-content: space-between;
}
.text01{
    justify-content: center;
    margin-bottom: 20px;
    width: 50%;
}
.text011{
    justify-content: center;
    margin-top: 20px;
    border-bottom: 5px solid rgb(255, 230, 0);
    border-radius: 5px;
    width: max-content;
}
.text012{
    justify-content: center;
    margin-top: 20px;
    border-bottom: 5px solid rgb(255, 0, 0);
    border-radius: 5px;
    width: max-content;
}
.text5{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;                              
}
.testi{
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 60px;
    color: gray;
} 
.wrapper{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.wrapper1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    gap: 30px;
}
.wrapper2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.wrapper3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    gap: 30px;
}
.img1{
    border-radius: 50%;
    width: 50px;
}
.img2{
    border-radius: 50%;
    width: 50px;
}
.img3{
    border-radius: 50%;
    width: 50px;
}
.note1{
    text-align: center;
}
.note4{
    text-align: center;
}
.note7{
    text-align: center;
}
.note3{
    color: gray;
}
.note6{
    color: gray;
}
.note9{
    color: gray;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.image-wrap{
    height: 400px;
    display: flex;  
}
.image-wrap img{
   width:25%;
   background-position: center;
   background-size: contain;
}
footer{
    height: 40vh;
    background: #1fb9a0;
}
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.img-logo{
    opacity: 0.5;
    margin-top: 40px;
}
.ul-text{
    margin-top: -20px;
}
.img-footer{
    margin-top: 20px;
}